/.coverage
/build
/dist
/docs/build
/images/benchmark-*.svg
/.eggs
/env*
/htmlcov
/tags
/pages
/.pytest_cache
/.tox
/.idea
/.vscode
__pycache__
*.py[cod]
*.egg-info
*.swp
*#*
*~
*.tar.gz
examples/example.json

# Local benchmarking files for Theelx
kern*.py
*.lprof
benchmark-*.json
perf.csv
perf.svg
# Files created by OSS-Fuzz when running locally
fuzz_*.pkg.spec
*.dict
