repos:
- repo: https://github.com/psf/black
  rev: 25.12.0
  hooks:
  - id: black
    args:
      - --skip-string-normalization
      - --target-version=py39

- repo: https://github.com/asottile/blacken-docs
  rev: v1.12.1
  hooks:
  - id: blacken-docs

- repo: https://github.com/pycqa/isort
  rev: 6.1.0
  hooks:
  - id: isort
    args:
      - --profile=black

- repo: https://github.com/pre-commit/mirrors-mypy
  rev: v1.19.1
  hooks:
  - id: mypy
    types: [python]
    args: [--strict, --config-file, mypy.ini, jsonpickle]
    pass_filenames: false
    language: system
