sudo: false
language: python
python:
- 2.7
- 3.5
script:
- pip install -U pytest
- python setup.py test
branches:
  except:
    - skeleton
deploy:
  provider: pypi
  on:
    tags: true
    all_branches: true
    python: 3.5
  user: jaraco
  # supply password with `travis encrypt --add deploy.password`
  distributions: release
