bson
coverage
ecdsa
feedparser
gmpy2; python_version<"3.12"
numpy
pandas
pymongo
pytest
pytest-cov
pytest-enabler
pytest-benchmark
pytest-benchmark[histogram]
pytest-ruff
scikit-learn
scipy>=1.9.3; python_version>"3.10"
scipy; python_version<="3.10"
simplejson
sqlalchemy>=1.2.19
ujson
