name: Lint

on:
  push:
    branches:
      - main

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - uses: actions/setup-python@v5
        with:
          python-version: "3.13"

      - name: Run black check
        uses: psf/black@stable
        with:
          options: "--check --diff --target-version=py310"

      - name: Run isort check
        uses: isort/isort-action@master
        with:
            configuration: "--check-only --diff --profile black"
